<li id="<%= dom_id(todo) %>" class="todo">
  <%= check_box_tag dom_id(todo, :checkbox), todo.completed?, todo.completed?, data: { url: toggle_todo_path(todo), method: :post, remote: true } %>
  <span class="name">
    <%= todo.name %>
  </span>

  <span class="actions pull-right">
    <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
  </span>
</li>
